<div class="column left">
    <h1>กรอกข้อมูลสผู้สูงอายุ</h1>

    <mat-form-field class="full-width">
      <mat-label>ชื่อผู้สูงอายุ</mat-label>
      <input matInput placeholder="กรอก ชื่อผู้สูงอายุ" name="oldername"[(ngModel)]="inputDataOlder.oldername">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>วันเกิด</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" name="olderbirth"[(ngModel)]="inputDataOlder.olderbirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="เพศ" name="gender" [(ngModel)]="inputDataOlder.oldergender">
        <mat-option *ngFor="let gender of genders" [value]="gender.genderId" >
          {{gender.genderName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="โรคประจำตัวผู้สูงอายุ" name="disease"[(ngModel)]="inputDataOlder.olderdisease" multiple>
        <mat-option *ngFor="let disease of diseases" [value]="disease.id">
          {{disease.diseasename}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>ชื่อญาติผู้สูงอายุ</mat-label>
      <input matInput placeholder="กรอก ชื่อญาติ" name="parentname"[(ngModel)]="inputDataOlder.parentname">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>ที่อยู่ญาติผู้สูงอายุ</mat-label>
      <input matInput placeholder="กรอก ที่อยู่ญาติ" name="parentaddress"[(ngModel)]="inputDataOlder.parentaddress">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="จังหวัด" name="provincename" [(ngModel)]="inputDataOlder.parentprovince">
        <mat-option *ngFor="let province of provinces" [value]="province.provinceId">
          {{province.provinceName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>เบอร์โทรญาติผู้สูงอายุ</mat-label>
      <input matInput placeholder="กรอก เบอร์โทร" name="parentphone"[(ngModel)]="inputDataOlder.parentphone">
    </mat-form-field>
    <br>
      <button mat-flat-button class="buttom"color="warn" routerLink="/main" routerLinkActive="active" >กลับ</button>
      <button mat-flat-button class="buttom save" (click)="save()">บันทึก</button>
</div>

<div class="column right" >

  <h1>ข้อมูลผู้สูงอายุ</h1>
      <mat-table [dataSource]="olderData" class="table">

        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let element ; let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="oldername">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.oldername}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="oldergender">
          <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dataOlderGender.genderName}} </mat-cell>
        </ng-container>



        <ng-container matColumnDef="parentname">
          <mat-header-cell *matHeaderCellDef> Parant Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.parentname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="parentaddress">
          <mat-header-cell *matHeaderCellDef> Parant Address </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.parentaddress +' '+element.dataOlderProvince.provinceName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="parentphone">
          <mat-header-cell *matHeaderCellDef> Parent Phone </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.parentphone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="more">
          <mat-header-cell *matHeaderCellDef> More </mat-header-cell>
          <mat-cell *matCellDef="let element"> <button mat-flat-button routerLink="/MoreDataOlder/{{element.id}}" routerLinkActive="active" > More </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="healthCheck">
          <mat-header-cell *matHeaderCellDef> Health Check </mat-header-cell>
          <mat-cell *matCellDef="let element"> <button mat-flat-button color="warn" routerLink="/HealthCheck/{{element.id}}" routerLinkActive="active" > Check </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="dataColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
      </mat-table>
</div>
