<body class="main">
<div class="header">
  <br>
  <br>
  <br>
  <br>
  <marquee class="header">
    <h1>Software Engineering. Team 19 ศูนย์ดูแลผู้สูงอายุ  Sprint 1 </h1>
  </marquee>
  <br>
</div>
<mat-grid-list [cols]="breakpoint" rowHeight="240px" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <mat-card routerLink="/InputDataOlder" routerLinkActive="active">
      <p>ผู้สูงอายุ</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/inAct-add" routerLinkActive="active">
      <p>กิจกรรมประจำวัน</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/additem" routerLinkActive="active">
      <p>เพิ่มสินค้า</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/withdraw" routerLinkActive="active">
      <p>เบิกสินค้า</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/newStaff" routerLinkActive="active">
      <p>พนักงาน</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/showsOutActivity" routerLinkActive="active">
      <p>กิจกรรมภายนอก</p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/roomInformation" routerLinkActive="active">
      <p>จัดการห้องพัก</p>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card routerLink="/visitor" routerLinkActive="active">
      <p>ประวัติผู้เข้าเยี่ยม</p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card routerLink="/Training" routerLinkActive="active">
    <p>พัฒนาพนักงาน</p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card routerLink="/bookaplace" routerLinkActive="active">
      <p>ยอมรับกิจกรรม</p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card routerLink="/maintenance" routerLinkActive="active">
      <p>แจ้งการซ่อมบำรุง</p>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
</body>
