<div class="column left">
    <h1>กรอกข้อมูลการฝึกฝนพนักงาน</h1>
    <mat-form-field class="full-width">
      <input matInput placeholder="กรอกชื่อการฝึกฝน" [(ngModel)]="trainData.trainName">
    </mat-form-field>
    
    <mat-form-field class="full-width-textarea">
        <textarea matInput placeholder="กรอกคำอธิบายการฝึกฝน" [(ngModel)]="trainData.trainDescription"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>วันที่</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" [(ngModel)]="trainData.trainDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-select placeholder="เลือกช่วงเวลา" name="timeDuration" [(ngModel)]="trainData.timesSelect" >
          <mat-option *ngFor="let time of times" [value]="time.timeId">
              {{time.timeDuration}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-select placeholder="เลือกชนิดของการฝึกฝน" name="typeName" [(ngModel)]="trainData.traintypesSelect" >
        <mat-option *ngFor="let type of traintypes" [value]="type.typeid">
            {{type.typeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
  
    <mat-form-field class="full-width">
        <mat-select placeholder="เลือกผู้ดูแลการฝึกฝน" name="staffName" [(ngModel)]="trainData.staffsSelect" >
          <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
              {{staff.staffName}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  
    <br>
    <br>
    <button mat-flat-button class="buttom" color="warn" routerLink="/main" routerLinkActive="active">กลับ</button>
    <button mat-flat-button class="buttom save" (click)="save()">ยืนยัน</button>
    <br>
    <br>
  </div>
  
  <div class="column right" >
    <h1>ข้อมูลรายละเอียดการฝึกฝนพนักงาน</h1>
    
    <mat-table [dataSource]="trainstaff" class="table">
  
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef> หมายเลข </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index"> {{i+1}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="trainname">
        <mat-header-cell *matHeaderCellDef> ชื่อการฝึกฝน </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trainName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="staffname">
          <mat-header-cell *matHeaderCellDef> ผู้ดูแล </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.trainStaff.staffName}} </mat-cell>
        </ng-container>
  
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> วันที่ </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trainDate}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> ชนิดของการฝึก </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trainType.typeName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> รายละเอียด </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.trainDescription}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="dataColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
    </mat-table>
  </div>