<div class="blackground" align="center" >
  <div class="form">
    <h1>ระบบจัดการห้องพักผู้สูงอายุ</h1>
    <hr>


    <p><mat-form-field class="full-width">
      <mat-select placeholder="เลือกชื่อผู้สูงอายุที่จะเพิ่ม" [(ngModel)]="roomImData.nameInput" name="typeroom">
        <mat-option *ngFor="let dataolder of ShowName" [value]="dataolder.id">
          {{dataolder.oldername}}
        </mat-option>
      </mat-select>
    </mat-form-field></p>

    <mat-table [dataSource]="ShowAll" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="build">
        <mat-header-cell *matHeaderCellDef> อาคาร </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.building}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="floor">
        <mat-header-cell *matHeaderCellDef> ชั้น </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.floor}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roomnumber">
        <mat-header-cell *matHeaderCellDef> หมายเลขห้อง </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.roomnumber}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> ประเภทห้องพัก </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.typeroom.typeroom}} </mat-cell>
      </ng-container>

      <!--Symbol Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> สถานะห้องพัก </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.roomstatus.statusname}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="older1">
        <mat-header-cell *matHeaderCellDef> ผู้พัก </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.older&&element.older.oldername}} </mat-cell>
      </ng-container>



      <ng-container matColumnDef="add">
        <mat-header-cell *matHeaderCellDef> หมายเหตุ </mat-header-cell>
        <mat-cell *matCellDef="let element"><button mat-flat-button color="primary" (click)="add(element.id,element.older,element.typeroom)" >เพิ่ม</button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="showAllColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: showAllColumns;"></mat-row>
    </mat-table>

    <a routerLink="/roomInformation" routerLinkActive="active" >ย้อนกลับ</a>
  </div>
</div>
