<div class="column left">

    <h1>จัดเก็บข้อมูลพนักงาน</h1>
    <p>กรอกรายละเอียดข้อมูลของพนักงาน</p>
    <hr>

    <mat-form-field class="full-width">
      <input matInput placeholder="ชื่อ - สกุล" [(ngModel)]="staffData.staffName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="อายุ" [(ngModel)]="staffData.staffAge">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="เพศ" name="genderName" [(ngModel)]="staffData.genderSelect"> 
        <mat-option *ngFor="let gender of genders" [value]="gender.genderId"> 
            {{gender.genderName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-textarea">
      <textarea matInput placeholder="ที่อยู่" [(ngModel)]="staffData.address"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="จังหวัด" name="provincename" [(ngModel)]="staffData.provinceSelect">
        <mat-option *ngFor="let province of provinces" [value]="province.provinceId">
          {{province.provinceName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width-phone">
      <input matInput #TrackingCode maxlength="10" placeholder="หมายเลขโทรศัพท์" [(ngModel)]="staffData.phone">
      <mat-hint align="end">{{TrackingCode.value.length}} / 10</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="ตำแหน่งงาน" name="positionName" [(ngModel)]="staffData.positionSelect"> 
        <mat-option *ngFor="let position of positions" [value]="position.positionId"> 
            {{position.positionName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Username" [(ngModel)]="staffData.username">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Password" [(ngModel)]="staffData.password">
    </mat-form-field>

    <br>
    <br>
    <button mat-flat-button class="buttom" color="warn" routerLink="/main" routerLinkActive="active">กลับ</button>
    <button mat-flat-button class="buttom save" (click)="save()">ยืนยัน</button>
    <br>
    <br>
</div>

<div class="column right" >
    <h1>ข้อมูลรายละเอียดการฝึกฝนพนักงาน</h1>
    <mat-table [dataSource]="staffs" class="table">
  
      <ng-container matColumnDef="no">
        <mat-header-cell *matHeaderCellDef> หมายเลข </mat-header-cell>
        <mat-cell *matCellDef="let element ; let i = index"> {{i+1}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="staffname">
        <mat-header-cell *matHeaderCellDef> ชื่อพนักงาน </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.staffName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef> ที่อยู่ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container>
  
      <ng-container matColumnDef="province">
        <mat-header-cell *matHeaderCellDef> จังหวัด </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.staffProvince.provinceName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> อายุ </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> เพศ </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.staffGender.genderName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef> โทรศัพท์ </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>

      <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.password}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> ตำแหน่ง </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.staffPosition.positionName}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="dataColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
    </mat-table>
</div>
